.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-link {
  display: contents;
}
.home-image {
  width: 313px;
  height: 291px;
  object-fit: cover;
  text-decoration: none;
}
